<div class="container-fluid">
    <div class="col-md-8">
        <p><span class="text-warning">Author:</span>{{quote.author}}</p>
        <p><span class="text-warning">Editor:</span>{{quote.name}}</p>
        <p><span class="text-warning">Title:</span>{{quote.title}}</p>
    </div>

    <div class="row">
        <p><span class="text-warning">Created On:</span><em>{{quote.datePosted|date}}</em></p>
        <p><span class="text-warning"> Elapsed since posting:</span><em>{{quote.datePosted|datePipe}} days ago.</em></p>
    
    </div>
        
    <div class="container-fluid" id="buttons">
        <button class="btn btn-md btn-success">Like</button> 
        <button class="btn btn-md btn-danger"> Dislike</button> 
        <button (click)='quoteComplete(true)' class="btn btn-warning bg-danger" id="left">Delete</button>
    </div>
    

</div>
<!-- <p>
    {{quote.description}}
</p> -->


 
 

